.home {
  margin-top: -20px;
  .intro {
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
    .question-box {
      position: absolute;
      box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
      top: 13%;
      left: 5%;
      background-color: #fff;
      padding: 15px;
      width: 330px;

      h1 {
        font-family: SuisseWorks, Georgia, Times, times new roman, serif, apple color emoji, segoe ui emoji,
          segoe ui symbol;
        font-weight: 600;
        line-height: 33px;
        font-size: 29px;
      }

      p {
        font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif,
          apple color emoji, segoe ui emoji, segoe ui symbol;
        font-size: 18px;
        font-weight: 300;
      }

      input {
        display: block;
        width: 100%;
        font-size: 15px;
        padding: 11px 12px;
        border: 1px solid #262626;
        color: #262626;
        outline: none;
        margin-top: 26px;
      }
    }
  }
}
