<div class="home">
  <div class="intro">
    <img alt=""
      src="https://img-c.udemycdn.com/notices/web_banner/slide_1_image_udlite/db24b94e-d190-4d5a-b1dd-958f702cc8f5.jpg">
    <div class="question-box">
      <h1>Learning that gets you</h1>
      <p>Skills for your present (and your future). Get started with us.</p>
      <div class="question">
        <form action="/">
          <input type="text" placeholder="What do you want to learn?" autocomplete="off">
        </form>
      </div>
    </div>
  </div>
</div>